* {
  box-sizing: border-box;
}
.app {
  display: flex;
  padding: 20px;
  background: #cccccc;
  height: 100vh;
}

.markdown-editor {
  width: 50%;
  height: 100%;
}

.markdown-preview {
  width: 50%;
  height: 100%;
  border: 1px solid #ddd;
}
